
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    /* font-family: 'Grand Hotel', cursive; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.imgdetails{
    width: 70rem;
    height: 70vh;
}


.review{
    width: 20em;
    border-radius: 21px;
    background: #f5f5f5;
    box-shadow:  8px 8px 15px #626262,
                 -8px -8px 15px #ffffff;
}
.navbarsection{
    height: 8vh;
    align-items: center;
    
}
.submit button{
    height: 8vh;
    

    
}
.submit a{
    text-decoration: none;
    color: #ffffff;
}
.reg{
    margin-top: 28px;
}
.herocon{
    background-image: url("https://raw.githubusercontent.com/Olliemint/Awwards/main/media/projectpics/trend.jpg");
    background-size: cover;
    height: 60vh;
    color: #ffffff;
}