{% extends 'awwards/base.html' %}

{% block content %}
<div class="herocon">
    <div class="container-fluid px-5 py-5">
        <div class="d-flex">
            <p class="fw-bold">Site of the Day, </p>
        <span>June 13,2022</span>
        </div>
        
    </div>
<div class="px-4 py-5 text-center">
   
    <h1 class="display-5 fw-bold">Marble</h1>
    
    
  </div>
</div>

<div class="container-fluid mt-5">

    

    <div class="col-md-12">
        <div class="row px-5">
        <p>
            <strong>Site of the day</strong>
            <span>Previous Winners</span>
           

           {% for project in projects %}
            <div class="col-md-3 mt-4 ">
                <div class="card">
                  
                
                   
                    <img class="imgp" src="{{ project.project_image.url }}" class="card-img-top" alt="..." style="width: 100%;">
                    

                    


                    <div class="card-body" id="card2">
                      <h5 class="card-title">{{project.name}}</h5>
                      <p class="card-text">From {{project.location}}</p>
                      <div class="dday">
                      <p class="d-flex justify-content-end">{{project.posted_date |date}}</p>

                      </div>
                      <div class="by d-flex">
                          <img class="author" src="{{project.author.profile.image.url}}" alt="" srcset="">
                          <div class="byname px-2 mt-1">
                              <a href="{% url 'profile' %}">
                                 BY <strong>{{project.author}}</strong>
                              </a>
                          </div>
                      </div>

                    </div>
              



                  
            </div>
                  
                  </div>
                  {% empty %}
                  <h3>no photos...</h3>
                  {% endfor %}
                
            </div>
           
          
            
        </div>
</div>

{% endblock %}