{% extends 'awwards/base.html' %}

{% block content %}
<div class="herocon">
    <div class="container-fluid px-5 py-5">
        <div class="d-flex">
            <p class="fw-bold">Site of the Day, </p>
        <span>June 13,2022</span>
        </div>
        
    </div>
<div class="px-4 py-5 text-center">
   
    <h1 class="display-5 fw-bold">Marble</h1>
    
  </div>
</div>

<div class="container-fluid mt-5">

    <div class="col-md-12">
        <div class="row px-5">
        <p>
            <strong>Site of the day</strong>
            <span>Previous Winners</span>
            {% if user.is_authenticated %}
            <span>Hello {{request.user}}</span>
            <span>
                <a href="{% url 'logout' %}" >Logout</a>
            </span>

        </p>
        {% endif %}

           {% for response in response %}
            <div class="col-md-3 mt-4 ">
                <div class="card">
                  
                
                    <a href="{{response.project_link}}">
                    <img src="{{ response.project_image }}" class="card-img-top" alt="..." style="width: 100%;">

                    </a>


                    <div class="card-body">
                      <h5 class="card-title">{{response.name}}</h5>
                      <p class="card-text">From {{response.location}}</p>
                      <p>{{response.posted_date}}</p>
                      <p class="card-text">BY <strong>{{response.posted_by}}</strong></p>
                      <a href="{{response.project_link}}">view</a>
                      <a href="{% url 'review' response.id %}">Review</a>

                    </div>
              



                  
            </div>
                  
                  </div>
                  {% empty %}
                  <h3>no photos...</h3>
                  {% endfor %}
                
            </div>
           
          
            
        </div>
</div>

{% endblock %}