{% extends 'awwards/base.html' %}

{% block content %}

<div class="row  mt-4 px-5">


<div class="col-8">
    <div class="card">
      
    
        <img class="imgdetails" src="{{ project.project_image.url }}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">{{project.name}}</h5>
          <p class="card-text">From {{project.location}}</p>
          <p>{{project.posted_date}}</p>
          <p class="card-text">BY <strong>{{project.posted_by}}</strong></p>

        </div>
  



      
</div>
      
      </div>
      <div class="col-md-4">
          <div class="review">
            <h2 class="px-5">Rate Project</h2>
            <form class="px-5 py-2" method="post" action="">
                {% csrf_token %}
                <label for=""><strong>Design:</strong></label>
               <div>
                  {{ form.design }}
              </div>
              <br>
              <label for=""><strong>Usability:</strong></label>
              <div>
                 {{ form.usability }}
             </div>
             <br>
             <label for=""><strong>Content:</strong></label>
             <div>
                {{ form.content }}
            </div>
            <br>
              <label for="textarea1"><strong>Review</strong></label>
        
              <div class="form-floating" style="height: 100px; width: 200px;">
                  {{ form.review }}
              </div>
              <button class="btn btn-success btn-sm" type="submit">Submit</button>
            </form>

          </div>
          
         

      </div>
    </div>

    


{% endblock %}